body {
    background-image: url("./bg.png");
    background-size: cover;
    background-position: left top;
    font-family: "Zilla Slab", serif;
    
}

h1 {
    text-align: center;
    color: aliceblue;
    background-color: #171717;
    font-size: 3rem;
    border: 2px solid #9dffad;
    border-radius: 15px;
    display: block;
    width: 25%;
    margin: 20px auto;
    padding: 7px;
}
h2{
    color: #9dffad;
    border: 2px solid #9dffad;
    width: 75%;
    padding: 10px;
    background-color: #171717;
    margin: 10px auto;
    border-radius: 8px;
}
p{
    color: aliceblue;
    width: 75%;
    border: 2px solid #9dffad;
    background-color: #57575765;
    padding: 15px 10px;
    margin: 0px auto;
    font-size: 22px;
    border-radius: 12px;
}
span{
    font-weight: bold;
    color: #9dffad;
}
.card{
    margin-top: 5rem;
}
#copyright{
    color: #9dffad;
    text-align: center;
    margin-top: 10rem;
    border: none;
    background-color: #57575765;
}